.option {
    background-color: #f2f3f5;
    border: 1px solid #ececed;
    box-shadow: 0 10px 14px 0 #ddd;
    padding: 40px 30px 10px;
    text-align: center;
    width: 800px;
    height: 500px;
    margin-left: 190px;
  }
.text1{
    text-align: center;
    font-family: Helvetica,sans-serif;
}

input{
    width: 320px;
    height: 40px;
    background-color: white;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    border-radius:3px ;
}
.one{
    margin-top: 20px;
    margin-bottom: 20px;
}
.left{
    margin-right: 30px;
}
.select{
    width: 370px;
    height: 40px;
    background-color: white;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:3px ;
}
.select-1{
    margin-right: 30px;
}
textarea{
    width: 725px;
    height: 160px;
    padding: 25px;
}
button{
    width: 775px;
    height: 50px;
    border-radius:3px ;
    border-style: none;
    background-color: #2d3032;
    color: white;
}
button:hover{
    background-color: #606162;
}
