.content {
  width: 600px;
  height: 400px;
  background-color: aqua;
  margin: auto;
  border: 1px solid rgb(137, 137, 207);
  padding: 20px;
}
h1 {
  width: 400px;
  height: 45px;
  background-color: bisque;
  margin-left: 90px;
  text-align: center;
  padding: 10px;
  line-height: 45px;
  border: 1px solid black;
}
.text2 {
  width: 90%;
  height: auto;
  background-color: aliceblue;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid black;
}
button {
  background-color: blue;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgb(173, 173, 233);
  margin-left: 20px;
  color: white;
}
