.bar-container {
  display: flex;
  flex-direction: column;
}

.bar {
  width: 500px;
  height: 30px;
  background-color: #b5b2b2;
  margin-top: 20px;
}

.filled {
  height: 100%;
  background-color: #05bf0b;
  width: 0;
}

.bar:nth-child(1) .filled {
  width: 10%;
}

.bar:nth-child(2) .filled {
  width: 30%;
}

.bar:nth-child(3) .filled {
  width: 50%;
}

.bar:nth-child(4) .filled {
  width: 70%;
}
